/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    /* ## Colors */

    /* ### Primary */

    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* ### Neutral */

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    font-family: "Public Sans", sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

header {
    background-color: var(--white);
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

header .inner .desktop-header {
    display: none;
}

header .inner button.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

header .inner .mobile-modal {
    border: none;
    background-color: var(--white);
    width: 90%;
    text-align: center;
    border-radius: 10px;
    inset: 5.2rem 0 0 0;
}

header .inner .mobile-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    inset: 5.2rem 0 0 0;
}

header .inner .mobile-modal nav ul  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

header .inner .mobile-modal nav ul li a {
    text-decoration: none;
}

/*********/
/* Main  */
/*********/

main {
    text-align: center;
}

main .hero-container {
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 347px;
    width: 100%;
}

.hero-container img {
    position: absolute;
    top: -95px;
    left: 0;
}

/*Intro*/

section.intro {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

section.intro h1 {
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    font-weight: 500;
}

section.intro p {
    color: var(--grayish-blue);
    font-size: .9rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    max-width: 90%;
    margin-inline: auto;
}

header .desktop-header .cta button,
footer .desktop-right button.request ,
section.intro button {
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    color: var(--white);
    border: none;
    border-radius: 25px;
    padding: .8rem 0rem;
    width: 12rem;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header .desktop-header .cta button:hover,
footer .desktop-right button.request:hover,
section.intro button:hover {
    filter: brightness(1.2);
}

/* Why choose us section */

section.why-choose-us .inner > p{
    color: var(--grayish-blue);
    font-size: 1.1rem;
}

section.why-choose-us {
    background-color: var(--light-grayish-blue);
    padding: 3rem 0rem;
}

section.why-choose-us h2 {
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    font-weight: 500;
}

.why-choose-us .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

.why-choose-us .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .card img {
    margin-bottom: 1rem;
}

.cards .card h3 {
    font-size: 1.2rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    font-weight: 500;
}

.cards .card p {
    color: var(--grayish-blue);
    font-size: .9rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    max-width: 90%;
    margin-inline: auto;
}

/* Latest Articles section */

section.latest-articles {
    padding-top: 3rem;
    padding-bottom: 8rem;
}

section.latest-articles h2 {
    font-size: 2rem;
    color: var(--dark-blue);
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.latest-articles .articles .article{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-inline: auto;
    text-align: left;
}

.article .article-bottom {
    background-color: var(--white);
    padding: 1.5rem 1rem 2rem 1rem;
}

.article .article-bottom p.author {
    color: var(--grayish-blue);
    font-size: .7rem;
    margin-bottom: .5rem;
}

.article .article-bottom h3 {
    font-size: 1.2rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.article .article-bottom h3:hover {
    color: var(--lime-green);
}

.article .article-bottom p {
    color: var(--grayish-blue);
    font-size: .9rem;
    line-height: 1.4;
}

/*********/
/*Footer */
/*********/

footer {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.desktop-left .socials-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.desktop-left .socials{
    display: flex;
    gap: 1rem;
}

.desktop-left .socials li a {
    color: var(--light-grayish-blue);
    transition: all 0.3s ease-in-out;
}

.desktop-left .socials li a:hover {
    color: var(--lime-green);
}

.footer-links .links-two,
.footer-links .links-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-links .links-one {
    margin-bottom: 1rem;
}

.footer-links .links-two a,
.footer-links .links-one a {
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-links .links-two a:hover,
.footer-links .links-one a:hover {
    color: var(--lime-green);
}

.desktop-right {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;
}

.desktop-right p.copyright {
    color: var(--grayish-blue);
}

/*********/
/*Media  */
/*********/

@media screen and (min-width: 768px) {

    /*Header*/

    header {
        height: 5rem;
    }

    header .inner {
        align-items: center;
        padding: 0rem 0;
        max-width: 1200px;
        margin-inline: auto;
        height: 100%;
    }

    header .inner .hamburger {
        display: none;
    }

    header .inner .desktop-header {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        width: 50rem;
    }

    header .inner .desktop-header nav ul {
        display: flex;
        gap: 2rem;
        height: 100%;
    }

    header .inner .desktop-header nav ul li a {
        color: var(--grayish-blue);
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    header .inner .desktop-header nav ul li {
        position: relative;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }
    header .inner .desktop-header nav ul li::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--lime-green);
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    header .inner .desktop-header nav ul li:hover::after {
        transform: scaleX(1);
    }

    header .inner .desktop-header nav ul li a:hover {
        color: var(--dark-blue);
    }

    /*Main*/

    /*Hero and intro*/

    /*To position mock image correctly
    we need to set the position of main to relative
    to allow the image to traspass to why choose us section
    */
    main {
        position: relative;
        overflow: hidden;
    }

    main .hero-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        height: 44rem;
    }

    .hero-intro .hero-container {
        order: 1;
    }

    main .hero-intro .intro {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        margin-left: auto;
    }

    main .hero-intro .intro p{
        margin-inline: 0;
    }


    main .hero-intro .intro h1 {
        max-width: 80%;
        font-size: 4rem;
        margin-bottom: 1.5rem;
        font-weight: 500;
    }

    main .hero-intro .intro p {
        max-width: 30rem;
        font-size: 1.2rem;
    }

    main .hero-intro .hero-container {
        height: 100%;
        background-image: url("./images/bg-intro-desktop.svg");
        background-position: top -196px left;
        background-size: 63rem 55rem;
        position: unset;
    }

    main .hero-intro .hero-container img {
        width: 48rem;
        right: -233px;
        left: unset;
        top: -108px;
    }

    /*Why choose us section*/

    section.why-choose-us {
        text-align: left;
    }

    section.why-choose-us .inner{
        max-width: 1200px;
        margin-inline: auto;
    }

    section.why-choose-us .inner > p{
        line-height: 1.8;
        margin-bottom: 2rem;
        width: 32rem;
    }

    section.why-choose-us .inner .cards {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .inner .cards .card {
        text-align: left;
        align-items: flex-start;
    }

    .inner .cards .card img {
        margin-bottom: 2rem;
    }

    .inner .cards .card p {
        max-width: 14rem;
        margin-inline: 0;
    }

    /* Latest articles section */

    section.latest-articles {
        text-align: left;
        max-width: 1200px;
        margin-inline: auto;
        padding: 6rem 0;
    }

    section.latest-articles h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        font-weight: 500;
    }

    section.latest-articles .articles {
        display: flex;
        gap: 2rem;
    }

    section.latest-articles .articles .top img {
        max-height: 171.53px;
        width: 100%;
    }

    /*Footer*/

    footer .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin-inline: auto;
        width: 100%;
    }

    footer .inner .desktop-left {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    .inner .desktop-left .socials-logo {
        gap: 0rem;
        margin-bottom: 0;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer .inner .desktop-left .footer-links {
        display: flex;
        text-align: left;
        width: 50%;
        justify-content: space-between;
    }

    .desktop-left .footer-links .links-two,
    .desktop-left .footer-links .links-one {
        align-items: flex-start;
        margin: 0;
    }

    footer .inner .desktop-right {
        margin: 0;
        align-items: flex-end;
        text-align: right;
    }

    footer .inner .desktop-right button.request {
        padding: .9rem 0rem;
        font-size: 1.1rem;
        font-weight: 700;
        width: 14rem;
        border-radius: 30px;
    }

    footer .inner .desktop-right p.copyright {
        font-size: 1.12rem;
    }
}